<%- include("partials/header") %>

  

  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>View our hand-picked campgrounds</p>
        <a href="/campgrounds/new" class="btn btn-primary btn-md">Add a new campground</a>
      </div>
    </header>
    
    <div class="row text-center">
      <% campgrounds.forEach((camp) => { %>
        <div class="col-md-6 col-sm-6 mt-4" style="display: flex;flex-wrap: wrap;">
            <div class="card" >
              <img class="card-img-top" src="<%= camp.img %>" alt="<%= camp.name %>">
              <div class="card-body" style="display: flex;flex-direction: flex-column;align-items: center;
              justify-content: center;">
                <h5 class="card-title mt-auto"><%= camp.name %></h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
        </div>
      <% }) %>
    </div>
  
    <a href="/">Home</a>
  </div>

<%- include("partials/footer") %>